/*
	Hello! Interested in offering me a position at your company?
	Drop me an email at: jamesrbdev@gmail.com 
*/

/*——————————————————————————————————————————————————————————————————*/
/* INFORMATION                                                      */
/*——————————————————————————————————————————————————————————————————*/

/* Contributors: James Boehme */

/* Defines global CSS rules for the portfolio website. */

/*——————————————————————————————————————————————————————————————————*/
/* IMPORTS                                                          */
/*——————————————————————————————————————————————————————————————————*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Share+Tech+Mono&display=swap');

/*——————————————————————————————————————————————————————————————————*/
/* STRUCTURE                                                        */
/*——————————————————————————————————————————————————————————————————*/

/* Everything background-related. */
body, html {
	background-color: #0a192f;
	width:            100%;
	height:           100%;
	outline:          0;
	margin:           0;
	padding:          0;
}

#container {
	position: absolute;
	left: 50%;
	padding: 40px;
	transform: translate(-50%);
	width: 840px;
	height: auto;
}

.box {
	position: relative;
	border-style: solid;
	border-color: #233554;
	border-width: 2px;
	color: #e6f1ff;
	padding: 10px;
	margin: 20px;
	width: 800px;
	height: auto;
}

.box > h1 {
	background-color: #0a192f;
	position: absolute;
	font-size: 18px;
	margin: 0;
	margin-top: -18px;
	font-family: "Share Tech Mono", monospace;
	padding-left: 10px;
	padding-right: 10px;
	user-select: none;
	color: #a8b2d1;
}

.outer-box {
	position: relative;
	border-style: solid;
	border-color: #a8b2d1;
	display: inline-block;
	border-width: 2px;
	padding: 10px;
	margin: 10px;
	margin-top: 30px;
	width: 140px;
	height: 140px;
	margin-left: 24px;
}

.inner-box {
	position: absolute;
	width: 160px;
	height: 160px;
	margin-top: -30px;
	margin-left: -30px;
	background-color: #0a192f;
	border-style: solid;
	border-color: #233554;
	border-width: 2px;
	user-select: none;
	transition: border-color 0.5s;
}

.inner-box:hover {
	border-color: #8892b0;
}

.desc-box {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 140px;
	height: 140px;
	padding: 10px;
	margin-top: -28px;
	margin-left: -28px;
}

#headshot {
	float: right;
	margin-left: 10px;
}

/*——————————————————————————————————————————————————————————————————*/
/* CONTENT                                                          */
/*——————————————————————————————————————————————————————————————————*/



/*——————————————————————————————————————————————————————————————————*/
/* MEDIA QUERIES                                                    */
/*——————————————————————————————————————————————————————————————————*/

